*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
    background-color: #fef9ff;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
}
/* NAVIGATION MENU */
.navbar {
  margin: 1.5rem 0;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  padding: 0 2rem;
  margin: 0 auto;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav-list {
  list-style-type: none;
  text-align: center;
}
.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0 1rem;
  color: #262730;
}

/* Hamburger Button */
.menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 100;
  position: relative;
}

.hamburger-line {
  display: block;
  height: 3px;
  width: 100%;
  background: #333;
  border-radius: 3px;
  transition: all 0.3s ease;
  transform-origin: center;
}

/* LOGO */
.logo {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

/* HERO SECTION */
.hero {
  background-color: #fef9ff;
}
.hero-section {
  display: grid;
  grid-template-columns: 3fr 5fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 6rem 2rem;
}

.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 1rem;
  padding: 1rem 1.5rem;
}

.header-name {
  font-family: "Roboto", sans-serif;
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 1.2;
}
.header-des {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.hero-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.stats {
  width: 200px;
  height: auto;
  border: 1px solid #dddddd;
  padding: 1.5rem 2rem;
  text-align: center;
  border-radius: 8px;
  margin: 0 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stats:hover {
  background-color: #8dc7f1;
  transform: translateY(-10px);
}
.stats h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.59rem;
  color: #1A8FE3;
}

/* ABOUT ME */
.about {
   background-color: #e2e2e2;
}
.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    
}
.about-head {
   text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    line-height: 1.6;
}

.about-para {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
}
/* SKILLS SECTION */
.skills {
 
}
.skill-header {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  line-height: 1.2;
}
.skill-des {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6;
}
.skills-list {
  max-width: 700px;
  margin: 0 auto;
}
.skill-info {
  display: flex;
  justify-content: space-between;
}
.progress-bar {
  width: 100%;
  height: 12px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}
.progress {
  height: 100%;
  border-radius: 10px;
  transition: width 0.8s ease-in-out;
}
.html {
  width: 85%;
   background: linear-gradient(90deg, #6a11cb, #2575fc);
}
.css {
  width: 65%;
   background: linear-gradient(90deg, #6a11cb, #2575fc);
}
.js {
  width: 0%;
   background: linear-gradient(90deg, #6a11cb, #2575fc);
}
/* PROJECT SECTION */
.project-head {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
}
.project-content {
    background-color: #dddddd;
    border-radius: 4px;
    padding: 1.5rem 2rem;
}
.testimonial {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
}
.testimonial-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.testimonial-left {
  flex: 1;
  min-width: 280px;
}
.testimonial-header {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.testimonial-des {
  color: #666;
  margin-bottom: 1.5rem;
}
.view-more-btn {
  font-size: 2rem;
}
.testimonial-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}
.testimonial-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
  
}
.testimonial-card img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial-card:hover {
  transform: translateX(-40px);
  border-left: 4px solid #755af0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.testimonial-info h4 {
  margin-bottom: 0.25rem;
}
/* FOOTER SECTION */
.site-footer {
  background-color: #000000;
}

.desktop-btn,
.call-me-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
/* COMPONENTS AND REUSABLE */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.btn {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  padding: 1.5rem 2rem;
  text-decoration: none;
  border-radius: 4px;
}
.arrow {
  width: 25px;
  height: auto;
  background-color: #ffffff;
  color: #000000;
  border-radius: 50%;
}
.call-me-btn, .cta-btn {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .navbar {
    margin: 1.5rem 2rem;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: #dddddd;
    transition: right 0.4s ease;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 90;
    padding-top: 5rem;
  }

  .nav-link {
    color: #000000;
    font-size: 2rem;
    padding: 2rem 1.5rem;
  }

  .nav-items {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2rem;
    margin-top: 6rem;
  }
  .hero {
    margin: -2rem auto;
  }
  .hero-section {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 4rem 2rem;
  }
  .header-name {
    font-size: 2.8rem;
    line-height: 1.3;
    text-align: center;
  }
  .header-des {
    font-size: 1.8rem;
    line-height: 1.6;
  }

  .hero-image img {
    max-width: 450px;
  }

  .callme-btn {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
  }
  .hero-stats {
    margin-top: 2rem;
  }

  .stats {
    border: 1px solid #302f2f;
  }

  .stats h2 {
    font-size: 2.4rem;
    font-weight: 700;
  }

  .stats p {
    font-size: 1.6rem;
  }
  /* Hamburger to X Animation */
  .menu-toggle:checked ~ .hamburger .hamburger-line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-toggle:checked ~ .hamburger .hamburger-line:nth-child(2) {
    opacity: 0;
    transform: scale(0);
  }

  .menu-toggle:checked ~ .hamburger .hamburger-line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  /* Slide Menu In */
  .menu-toggle:checked ~ .nav-menu {
    right: 0;
  }

  /* Mobile-only buttons */
  .mobile-btn {
    display: inline-block;
  }

  .desktop-btn {
    display: none;
  }

  .testimonial-section {
    flex-direction: column;
    text-align: center;
  }
  .testimonial-card {
    flex-direction: column;
    text-align: center;
  }
}
